/AwesomeProject/node_modules/
/AwesmoeProject/android/app/my-release-key.keystore
/AwesomeProject/android/app/debug.keystore
/AwesomeProject/package-lock.json
/Users/guoyuze/AwesomeProject/AwesomeProject/android/app/build/outputs/apk
